*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(0, 0, 0, 0.5);
    position : sticky;
    top:0%;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin:20px 0px;
}
.navbar ul li{
    font-family: Times, "Times New Roman";
    font-size : 1.1rem;
    font-weight : bold;
}
.navbar ul li a{
    text-decoration:none;
    color: white;
    padding:8px 25px;
    transition:all .5 ease;
}
.navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}
#home{
    display:flex;
    flex-direction: column;
    background-color:rgb(0, 0, 0, 0.5);
    height: 840px;
    justify-content: center;
    align-items: center;
    color: white;

}
#home::before{
    content:"";
    position: absolute;
    top: 0;
    right:0;
    background: url('imagine3.png') no-repeat center center/cover;
    height: 970px;
    width:100%;
    z-index: -1;
}
.main{
    display:flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top:30%;
    left:10%;
}
.headings{
    font-family: Times, "Times New Roman";
    font-size: 3rem;
    text-align: center;
    margin:40px 0px;
    color:white;
}
.btn{
    padding: 10px 35px;
    background-color:transparent;
    border:1px solid white;
    color: white;
    outline:none;
    transition: .6 ease;
}
.btn:hover{
    cursor:pointer;
    background-color:white;
    color:black;
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
    font-weight: bold;
}
#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 840px;
    padding:20px;
    /* margin-bottom: 50px; */
    background: black;
    z-index: -1;
}
#pic{
    display:flex;
}
#pic img{
    width: 443px;
    height: 591px;
    box-shadow: 0 0 5px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255), 0 0 15px rgb(255, 255, 255);
}
.intro{
    display:absolute;
    flex-direction: column;
    border: 1px solid black ;
    /* align-items: center; */
    text-align:center;
    padding:20px;
    border-radius:15px;
    background:linear-gradient(to top, rgb(0, 109, 9) 50%, rgb(0, 0, 0) 50%);
    background-size: 100% 200%;
    transition: all .2s;
    font-size:2.5rem;
    margin-top: 80px;
    margin-left: 50px;
    box-shadow:0 0 10px rgb(255, 255, 255);
    margin-bottom:100px;
    color:green;
}
.intro:hover{
    background-position: right top;
    color: white;
    border: none;
    box-shadow: 0 0 50px rgb(5, 99, 13);
}
#services{
    display:flex;
    flex-direction: column;
    padding:20px;
}
.row{
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    box-sizing: border-box;
}
.box{
    display:flex;
    flex-direction: column;
    width:350px;
    height:450px;
    border: 1px solid black ;
    margin:10px;
    align-items: center;
    text-align:justify;
    padding:10px;
    border-radius:15px;
    background:linear-gradient(to top, rgb(0, 109, 9) 50%, rgb(0, 0, 0) 50%);
    background-size: 100% 200%;
    transition: all .2s;
    font-size: 1.8rem;
    margin-top: 120px;
    margin-left: 50px;
    box-shadow:0 0 10px rgb(0, 109, 9);
}
.box:hover{
    background-position: left bottom;
    color: white;
    border: none;
    box-shadow: 0 0 150px rgb(5, 99, 13);
}
#services{
    display:flex;
    flex-direction: column;
    background-color:rgb(0, 0, 0, 0.5);
    height: 840px;
    color: white;
    background: black;
}
#contact{
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: black;
    color:white;
}
.form{
    display:flex;
    flex-direction:column;
    box-sizing: border-box;
    align-items:center;
    margin:20px 0px;
}
.input{
    padding:12px;
    margin:15px;
    width: 30%;
    border: none;
    outline:none;
}
#msg{
    width: 20%;
    padding:10px;
    margin:15px;
    border:none;
    outline:none;
}
#send{
    padding: 10px;
    width: 10%;
    margin:40px;
    border:none;
    outline:none;
}
#send:hover{
    cursor:pointer;
    box-shadow:0 0 10px white;  
}
.icon{
    position:absolute;
    top:341%;
    left:45.9%;
    border:1px solid rgb(0, 255, 0);
    border-radius: 10px;
    padding:10px;
    box-shadow: 0 0 20px green;
    background:linear-gradient(to top, rgb(0, 255, 0) 50%, rgb(0, 0, 0) 50%);
    background-size: 100% 200%;
    transition: all .2s;
}
.icon:hover{
    background-position: left bottom;
    box-shadow: 0 0 170px rgb(0, 255, 13);
}
footer{
    background:black;
}



